
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text {  
  margin-bottom: 10px;
  display: block;
}

.answer-form-completed {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
